.logout-info-button {
    float: right;
    background: transparent;
    color: white;
    border: none;
    padding: 25px 18px;
    margin: 10px;
    font-size: 14px;
}

.logout-info-button:focus{
    outline: none !important;
}

.logout-info-button:hover{
    border-bottom: 1px solid white;
}